* {
    font-family: "Century Gothic", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(88,88,90, 0.2) !important;
    overflow: hidden;
}

.bg-comfone{
    background-color: rgba(220,0,27,1);
}

.min-170 {
    min-height: 170px;
}

.americas {
    background-color:rgba(30,60,85,0.3);
    color: rgba(30,60,85,1);
}

.europe {
    background-color:rgba(149,149,149,0.3);
    color: rgba(149,149,149,1);
}

.africa {
    background-color:rgba(191,171,56,0.3);
    color: rgba(191,171,56,1);
}

.antarctica {
    background-color:rgba(123,145,163,0.3);
    color: rgba(123,145,163,1);
}

.asia {
    background-color:rgba(137,189,130,0.3);
    color: rgba(137,189,130,1);
}

.australia {
    background-color:rgba(255,147,111,0.3);
    color:  rgba(255,147,111,1);
}

.multi {
    background-color:rgba(149,149,149,0.3);
    color: rgba(149,149,149,1);
}

.video {
    background-color:rgba(0,177,64,0.3);
    color: rgba(0,177,64,1);
}

.card-header {
    background-color:rgba(220,0,27,1)!important;
    color:rgba(255,255,255,1)!important;
}

.colleague-pic {
    width: 80px;
    border-radius: 50%;
    border:2px solid red;
}

.legend-item{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    display: inline-flex;
}

.legend-item:hover {
    transform: scale(1.2);
}

.blink {
    animation: hideshow 2s ease infinite;
    -webkit-animation: hideshow 2s ease infinite;
}

@keyframes hideshow {
    0% { stroke: rgba(220,0,27,1); stroke-width: 2px; fill:rgba(220,0,27,1);  }
    10% { stroke: black; stroke-width: 3px; fill:rgba(0,0,0,1);}
    15% { stroke: rgba(220,0,27,1); stroke-width: 4px; fill:rgba(220,0,27,1); }
    100% { stroke: black; stroke-width: 5px; fill:rgba(0,0,0,1);}
}