@import '~antd/dist/antd.css';

* {
  font-family: "Century Gothic", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  overflow: hidden;
}

.ant-card {
  border-radius: 0.375rem;
}

.ant-select-selector {
  border-radius: 0.375rem;
}

.ant-card-meta-title {
  font-size: 18px;
  font-weight: bold;
}

.ant-card-small > .ant-card-body {
  padding: 25px;
}

.ant-card-head {
  background-color: rgba(220,0,27,1);
  color: white;
}

.ant-badge-count {
  border-radius: 0.375rem;
  font-weight: bold;
}

.min-200 {
  min-height: 200px;
}

.text-bold{
  font-weight: bold;
}

.container {
  padding:100px 20px;
}

.bg-comfone {
  background-color: rgba(220,0,27,1);
}

.blink {
  animation: hideshow 2s ease infinite;
  -webkit-animation: hideshow 2s ease infinite;
}

@keyframes hideshow {
  0% { stroke: rgba(220,0,27,1); stroke-width: 2px; fill:rgba(220,0,27,1);  }
  10% { stroke: black; stroke-width: 3px; fill:rgba(0,0,0,1);}
  15% { stroke: rgba(220,0,27,1); stroke-width: 4px; fill:rgba(220,0,27,1); }
  100% { stroke: black; stroke-width: 5px; fill:rgba(0,0,0,1);}
}